body{
  font-family: 'Gotham Book Regular' !important;
}

@font-face {
  font-family: 'Gotham Black Regular';
  src: url("../fonts/gothamblack-webfont.eot");
  src: url("../fonts/gothamblack-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamblack-webfont.woff") format("woff"), url("../fonts/gothamblack-webfont.ttf") format("truetype"), url("../fonts/gothamblack-webfont.svg#gothamblackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book Regular';
  src: url("../fonts/gotham-book-webfont.eot");
  src: url("../fonts/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-book-webfont.woff") format("woff"), url("../fonts/gotham-book-webfont.ttf") format("truetype"), url("../fonts/gotham-book-webfont.svg#gotham_bookregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Medium Regular';
  src: url("../fonts/gothammedium-webfont.eot");
  src: url("../fonts/gothammedium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gothammedium-webfont.woff") format("woff"), url("../fonts/gothammedium-webfont.ttf") format("truetype"), url("../fonts/gothammedium-webfont.svg#gothammediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold Regular';
  src: url("../fonts/gothambold-webfont.eot");
  src: url("../fonts/gothambold-webfont?#iefix") format("embedded-opentype"), url("../fonts/gothambold-webfont.woff") format("woff"), url("../fonts/gothambold-webfont.ttf") format("truetype"), url("../fonts/gothambold-webfont.svg#gothambold-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Matrix Complex';
  src: url("../fonts/matrix_complex_nc-webfont.eot");
  src: url("../fonts/matrix_complex_nc-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/matrix_complex_nc-webfont.woff") format("woff"), url("../fonts/matrix_complex_nc-webfont.ttf") format("truetype"), url("../fonts/matrix_complex_nc-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: 'Gotham Book Regular';
  line-height: 100%;
  text-transform: none;
}

.botones {
  height: 39px;
  color: #fff;
  border-radius: 3px;
  background: #502570;
  background-color: rgba(80, 37, 112, 1);
  display: inline-block;
  font-size: 17px;
  line-height: 39px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
  padding: 3px;
}

h1 {
  color: #ffffff;
  font-family: 'Gotham Book Regular';
  text-align: center;
  font-size: 36px;
  margin-bottom: 0px;
  line-height: 35px;
}

h4 {
  color: #ffffff;
  font-family: 'Gotham Book Regular';
  text-align: center;
  margin-top: 2px;
  text-transform: none;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 20px;
}

.semi-muted {
  font-size: 14px;
  color: gray;
  font-family: 'Gotham Book Regular';
  margin-top: 0px;
}

strong{
  font-family: 'Gotham Black Regular';
}

#back {
  width: 110%;
  min-width: 30px;
  float: left;
}

#reiniciar {
  width: 110%;
  min-width: 30px;
  float: right;
}

#inicio {
  width: 107px;
  float: right;
}

#inicio img {
  border: 0px;
  float: left;
  margin: 8px 10px;
}

#principal-container{
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 40px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.7);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.7);
  max-width: 900px;
  margin: auto;
}

#main-footer {
  box-shadow: none;
  text-align: right;
  margin-top: 20px;
}

#main-footer p {
  text-align: left;
  font-size: 11px;
  line-height: 100%;
}

.buttonSuave {
  font-family: 'Gotham Book Regular';
  background-color: #349c6a;
  border-radius: 50%;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  height: 146px;
  line-height: 110%;
  width: 146px;
  text-decoration: none;
  text-align: center;
  padding-top: 46px;
}

.buttonIntenso {
  font-family: 'Gotham Book Regular';
  background-color: #3251a3;
  border-radius: 50%;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-size: 21px;
  font-style: normal;
  height: 146px;
  line-height: 110%;
  width: 146px;
  text-decoration: none;
  text-align: center;
  padding-top: 44px;
}

.buttonWhitening {
  font-family: 'Gotham Book Regular';
  background-color: #42b5d3;
  border-radius: 50%;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  font-style: normal;
  height: 146px;
  line-height: 118%;
  width: 146px;
  text-decoration: none;
  text-align: center;
  padding-top: 51px;
}

.boton-wrap{
  text-align: center !important;
  margin: 20px 0px;
}

.compartir {
  color: #0e4455;
  margin-top: 55px;
  text-align: center;
}

.social-wrapper {
  width: 167px;
  margin: 0 auto;
  margin-top: 5px;
}

.enlace-social {
  padding: 0 2px;
  float: left;
  cursor: pointer;
  background: transparent;
  padding-bottom: 5px;
}

h3.afirmacion {
  font-size: 31px;
  font-family: 'Gotham Book Regular';
  color: #29538d;
  text-align: left;
}

h3.pregunta {
  font-size: 34px;
  color: #653384;
  text-align: center;
}

.circle{
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari */
  transform: scale(1);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}

.circle:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari */
  transform: scale(1.1);
}

.mas {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  line-height: 90%;
  font-size: 20px;
  color: #0e4455;
}

.contentAnim.ng-enter{
 -webkit-animation: fadeIn 1.5s;
 -moz-animation: fadeIn 1.5s;
 -ms-animation: fadeIn 1.5s;
 animation: fadeIn 1.5s;
}

.button-sub-menu{
  background-color: transparent !important;
  font-size: 12px;
  border: solid 1px;
  padding: 0px 2px;
  width: 100%;
  overflow: hidden;
}

.button-sub-menu.zero{
  color: #008484;
}

.button-sub-menu.menta-verde{
  color: #73b94a;
}

.button-sub-menu.solucion{
  color: #f1e6c4;
}

.button-sub-menu.freshburst{
  color: #b3ddd1;
}

.button-sub-menu.cool-mint{
  color: #b8e7ed;
}

.button-sub-menu.control-calculo{
  color: #c0ccdb;
}

.button-sub-menu.proteccion-dyt{
  color: #bfe4d1;
}

.button-sub-menu.cuidado-total{
  color: #d7cedf;
}

.sub-menu-botella{
  margin-top: -40px;
}

.boton-comparar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

}

#comparar {
  width: 112px;
  height: 39px;
  color: #fff;
  border-radius: 3px;
  background: #653384;
  display: inline-block;
  font-size: 17px;
  line-height: 39px;
  text-decoration: none;
  padding-left: 8px;
  float: left;
  z-index: 5;
}

#compararIMG {
  float: left;
  margin: -23px -10px;
  z-index: 10;
}

.cual-prefieres{
  margin: 30px 0px;
}

[type="checkbox"]:checked+label:before {
  border-right: 4px solid #3251a3;
  border-bottom: 4px solid #3251a3;
}

.check-box-beneficios{
  color: #5b5b5b !important;
  font-size: 17px;
}

h2 {
  font-size: 33px;
  font-family: 'Gotham Book Regular';
  text-align: left;
  text-transform: none;
  margin-top: 0px;
}

#distributors li {
  height: 37px;
  background-image: url('../img/distribuidores-sprite.jpg');
  padding-left: 0px;
  padding-right: 0px;
   display: block;
  margin: 10px auto;
}

#distributors li#exito {
  background-position: 0 0;
  width: 106px;
}

#distributors li#la-14 {
  background-position: -112px 0;
  width: 32px;
}

#distributors li#drogas-la-rebaja {
  background-position: -152px 0;
  width: 118px;
}

.list-inline > li {
  display: inline-block;
}

#distributors {
  color: #5b5b5b;
  margin-bottom: 55px;
  font-family: 'Gotham Book Regular';
}

.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none;
}

#distributors li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
}

#beneficios {
  font-size: 16px;
  color: #5b5b5b;
  font-family: 'Gotham Book Regular';
  padding-top: 20px;
}

#beneficios ol {
  margin: 0px;
  padding-left: 20px;
  line-height: 100%;
}

#beneficios li {
  font-size: 15px;
  font-family: 'Gotham Book Regular';
  font-weight: bold;
}

#beneficios li span {
  font-size: 13px;
  font-family: 'Gotham Book Regular';
}

.compartir2 {
  color: #0e4455;
  margin-top: 0px;
  text-align: center;
  padding: 0 2px;
  padding-right: 20px;
}

.titulo-tabla{
  padding: 0px !important;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  border-left: solid 2px white;
}

.tick {
  opacity: 1;
  filter: alpha(opacity=100);
  content: '';
  display: inline-block;
  width: 25px;
  height: 14px;
  background: transparent;
  border: 6px solid #0e4455;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  vertical-align:middle;
  text-align: left;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.beneficio-col{
  min-height: 50px;
}

.tick-col{
  border-left: solid 2px white;
  border-bottom: solid 2px white;
  text-align: center;
  vertical-align:middle;
}

.beneficio-col {
  font-size: 12px;
  color: black;
}

.PStoolCTA {
  text-decoration: underline;
  color: #000;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

#distributors {
  color: #5b5b5b;
  margin-bottom: 55px;
  font-family: 'Gotham Book Regular';
}

.distributors2 {
  max-width: 294px;
  margin: 0 auto;
}

h5, .h5 {
  font-size: 14px;
}

.distributors2 h5 {
  text-align: center !important;
  font-family: 'Gotham Book Regular';
}

.distributors2 p {
  text-align: center !important;
}

#distributors li#exito {
  background-position: 0 0;
  width: 106px;
}

#distributors li#la-14 {
  background-position: -112px 0;
  width: 32px;
}

#distributors li {
  height: 37px;
  background-image: url('../img/distribuidores-sprite.jpg');
  padding-left: 0px;
  padding-right: 0px;
display: block;
  margin: 10px auto;
}

#distributors li#drogas-la-rebaja {
  background-position: -152px 0;
  width: 118px;
}

ul#distributors-list {
  text-align: left;
}

.compararProductos h5 {
  color: #5b5b5b;
  text-align: center;
  font-size: 16px;
  font-family: 'Gotham Book Regular';
}

.compararProductos {
  max-width: 370px;
  margin: 0 auto;
  text-align: center;
}

.transparent-btn{

  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none; 
  border: none;

}

h3.afirmacion {
  font-size: 31px;
  font-family: 'Gotham Book Regular';
  color: #29538d;
  text-align: left;
}

.note {
  font-size: 13px;
  color: #5b5b5b;
}

.progress{
  margin-top: 60px;
  margin-bottom: 50px;
  background-color: whitesmoke;
}

.progress .indeterminate{
  background-color: #653384;
}

.producto-pantalla-inicial{
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}

.producto-pantalla-inicial img{
  margin-top: 7px;
  cursor: pointer;
}

.producto-pantalla-inicial:hover{ 
  border: solid 2px gray;
}

.titulo-familia{
  border-bottom: 1px solid;
  color: black;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 10px;
}

body {
  background: #fff;
  font-family: 'Gotham Book Regular';
  width: 100% !important;
  background-repeat: no-repeat;
}

body.purpleBg {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#653384', endColorstr='#ffffff');
  background-image: linear-gradient( #653384 20%, #fff );
  color: #653384;
}

body.blueBg {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3251a3', endColorstr='#ffffff');
  background-image: linear-gradient(#3251a3 20%, #fff);
  background-repeat: no-repeat;
}

body.blueBg .waves-effect.waves-listerine .waves-ripple {
 background-color: rgba(200,200,200,1);
}
body.blueBg h3.pregunta {
  color: #3251a3;
}
body.blueBg .botones {
  background: #274190;
  background-color: rgba(39, 65, 144, 1) !important;
}
body.blueBg .progress .indeterminate{
  background-color: #3251a3;
}

body.greenBg {
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#349c6a', endColorstr='#ffffff');
  background-image: linear-gradient(
    #349c6a 20%, #fff
    );
  background-repeat: no-repeat;
}
body.greenBg h3.pregunta {
  color: #349c6a;
}
body.greenBg .botones {
  background: #2d8c5e;
  background-color: rgba(45, 140, 94, 1) !important;
}
body.greenBg .progress .indeterminate{
  background-color: #349c6a;
}

body.lightblueBg {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42b5d3', endColorstr='#ffffff');
    background-image: linear-gradient( #5353A1 20%, #fff );
    background-repeat: no-repeat;
}

body.lightblueBg .tabs a {
color:#4b4c9b !important;
}

body.lightblueBg .tabs .indicator {
    background-color: #4b4c9b;
}



body.lightblueBg h3.pregunta {
  color: #42b5d3;
}
body.lightblueBg .botones {
  background: #494a93;
  background-color: rgb(73, 74, 147) !important;
}
body.lightblueBg .progress .indeterminate{
  background-color: #42b5d3;
}

body.solucion {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0ab3a', endColorstr='#ffffff');
background-image: linear-gradient(
#d0ab3a 20%, #fff
);
background-repeat: no-repeat;
}
body.solucion .botones {
background-color: #d0ab3a;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.solucion .tabs .indicator {
background-color: #d0ab3a;
}
body.solucion .tabs a {
color: #d0ab3a !important;
}
body.solucion .progress .indeterminate{
background-color: #d0ab3a;
}


body.freshburst {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#018e64', endColorstr='#ffffff');
background-image: linear-gradient(
#018e64 20%, #fff
);
background-repeat: no-repeat;
}
body.freshburst .botones {
background-color: #018e64;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.freshburst .tabs .indicator {
background-color: #018e64;
}
body.freshburst .tabs a {
color: #018e64 !important;
}
body.freshburst .progress .indeterminate{
background-color: #018e64;
}


body.cool-mint {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11afc3', endColorstr='#ffffff');
background-image: linear-gradient(
#11afc3 20%, #fff
);
background-repeat: no-repeat;
}
body.cool-mint .botones {
background-color: #11afc3;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.cool-mint .tabs .indicator {
background-color: #11afc3;
}
body.cool-mint .tabs a {
color: #11afc3 !important;
}
body.cool-mint .progress .indeterminate{
background-color: #11afc3;
}


body.zero-menta-verde {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b94a', endColorstr='#ffffff');
background-image: linear-gradient(
#73b94a 20%, #fff
);
background-repeat: no-repeat;
}
body.zero-menta-verde .botones {
background-color: #73b94a;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.zero-menta-verde .tabs .indicator {
background-color: #73b94a;
}
body.zero-menta-verde .tabs a {
color: #73b94a !important;
}
body.zero-menta-verde .progress .indeterminate{
background-color: #73b94a;
}


body.zero {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008484', endColorstr='#ffffff');
background-image: linear-gradient(
#008484 20%, #fff
);
background-repeat: no-repeat;
}
body.zero .botones {
background-color: #008484;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.zero .tabs .indicator {
background-color: #008484;
}
body.zero .tabs a {
color: #008484 !important;
}
body.zero .progress .indeterminate{
background-color: #008484;
}



body.control-calculo {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d5586', endColorstr='#ffffff');
background-image: linear-gradient(
#2d5586 20%, #fff
);
background-repeat: no-repeat;
}
body.control-calculo .botones {
background-color: #2d5586;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.control-calculo .tabs .indicator {
background-color: #2d5586;
}
body.control-calculo .tabs a {
color: #2d5586 !important;
}
body.control-calculo .progress .indeterminate{
background-color: #2d5586;
}



body.proteccion-dyt {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28a363', endColorstr='#ffffff');
background-image: linear-gradient(
#28a363 20%, #fff
);
background-repeat: no-repeat;
}
body.proteccion-dyt .botones {
background-color: #28a363;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.proteccion-dyt .tabs .indicator {
background-color: #28a363;
}
body.proteccion-dyt .tabs a {
color: #28a363 !important;
}
body.proteccion-dyt .progress .indeterminate{
background-color: #28a363;
}



body.cuidado-total {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a5b94', endColorstr='#ffffff');
background-image: linear-gradient(
#7a5b94 20%, #fff
);
background-repeat: no-repeat;
}
body.cuidado-total .botones {
background-color: #7a5b94;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.cuidado-total .tabs .indicator {
background-color: #7a5b94;
}
body.cuidado-total .tabs a {
color: #7a5b94 !important;
}
body.cuidado-total .progress .indeterminate{
background-color: #7a5b94;
}



body.whitening-precepillado {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd188d', endColorstr='#ffffff');
background-image: linear-gradient(
#cd188d 20%, #fff
);
background-repeat: no-repeat;
}
body.whitening-precepillado .botones {
background-color: #cd188d;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.whitening-precepillado .tabs .indicator {
background-color: #cd188d;
}
body.whitening-precepillado .tabs a {
color: #cd188d !important;
}
body.whitening-precepillado .progress .indeterminate{
background-color: #cd188d;
}



body.whitening-2en1 {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#253b93', endColorstr='#ffffff');
background-image: linear-gradient(
#253b93 20%, #fff
);
background-repeat: no-repeat;
}
body.whitening-2en1 .botones {
background-color: #253b93;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.whitening-2en1 .tabs .indicator {
background-color: #253b93;
}
body.whitening-2en1 .tabs a {
color: #253b93 !important;
}
body.whitening-2en1 .progress .indeterminate{
background-color: #253b93;
}



body.whitening-antimanchas {
background: #fff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42b5d3', endColorstr='#ffffff');
background-image: linear-gradient(
#42b5d3 20%, #fff
);
background-repeat: no-repeat;
}
body.whitening-antimanchas .botones {
background-color: #42b5d3;
filter: brightness(0.9);
-webkit-filter: brightness(0.9);
-moz-filter: brightness(0.9);
-o-filter: brightness(0.9);
-ms-filter: brightness(0.9);
}
body.whitening-antimanchas .tabs .indicator {
background-color: #42b5d3;
}
body.whitening-antimanchas .tabs a {
color: #42b5d3 !important;
}
body.whitening-antimanchas .progress .indeterminate{
background-color: #42b5d3;
}

#backW {
  clear: both;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background-color: rgba(195, 195, 195, 1);
  display: inline-block;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-right: 5px;
}

@media only screen and (max-width: 640px){

  .titulo-tabla {
    font-size: 8px;
  }

  .beneficio-col {
    font-size: 10px;
  }

  .tick {
    width: 11px;
    height: 7px;
    border: 3px solid #0e4455;
    border-top: none;
    border-right: none;
  }

  h2 {
    text-align: center;
    line-height: 30px;
  }

  .container {
    padding: 0px !important;
  }
}

/*NEW STYLES*/
.lightblueBg h4#consejo-titulo {
    font-size: 29px !important;
    margin-top: 8px;
}

