<!DOCTYPE html>
<html lang="en" ng-app="productSelector" ng-controller="AppController">
<head>
	<meta charset="UTF-8">
	<base href="/listerine-product-selector/">
	<title>{{pageTitle}}</title>

	<meta name="title" content="{{meta_title}}">
	<meta property="twitter:title" content="{{meta_title}}">
	<meta property="og:title" content="{{meta_title}}">

	<meta name="description" content="Si quieres tener los mayores beneficios para tu boca, ¡descubre el tuyo!">
	<meta property="twitter:description" content="Si quieres tener los mayores beneficios para tu boca, ¡descubre el tuyo!">
	<meta property="og:description" content="Si quieres tener los mayores beneficios para tu boca, ¡descubre el tuyo!">

	<meta property="og:url" content="{{meta_url}}">
	<meta property="twitter:url" content="{{meta_url}}">
	<meta name="canonical" content="{{meta_url}}">

	<meta name="keywords" content="meta_keywords">
	<meta name="author" content="Johnson and Johnson de Colombia S.A.">
	
	<meta name="robots" content="NOYDIR">
	<meta name="robots" content="NOODP">
	
	<meta property="og:type" content="WEBSITE">
	<meta property="twitter:card" content="SUMMARY">
	<meta property="twitter:image" content="{{meta_img_url}}">
	<meta property="og:image" content="{{meta_img_url}}">

	<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="css/animate.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="css/styles.css"  media="screen,projection"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta property="og:image" content="social-images/solucion.png" />

	<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angulartics.min.js"></script>
	<script type="text/javascript" src="js/angulartics-ga.min.js"></script>
	<script type="text/javascript" src="js/angulike.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>


	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-35872253-16', 'auto');  // Creates a tracker.
</script>

</head>

<body  class="{{current_background}}">
<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=591947097496965";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	function goBack() {
		window.history.back()
	}
</script>
<div class="container">
	<div class="row">
		<div class="col s6 m2">
			<div class="col s6">
				<a id="back" ng-click='back()' class="botones" title="atrás"><img src="img/back-arrow.png" border="0" alt="atrás"></a>

			</div>
			<div class="col s6">
				<a ng-click="go('/')" id="reiniciar" class="botones" href="" title="reiniciar"><img src="img/refresh.png" border="0" alt="reiniciar"></a>

			</div>
		</div>
		<div class="col s6 m2 hide-on-med-and-up">
			<div class="col s12">
				<a id="inicio" class="botones" href="http://www.listerine.co/" title="www.listerine.co"><img src="img/inicio.png" border="0" alt="Inicio" title="Inicio">inicio</a>

			</div>
		</div>
		<div class="col m8">
			<h1 id="ayuda-titulo">¡AYUDA! ¿CUÁL ESCOJO?</h1>
			<h4 id="consejo-titulo">Hay un <strong>LISTERINE<sup>®</sup></strong> ideal para ti</h4>
		</div>
		<div class="col m2 hide-on-small-only">
			<a id="inicio" class="botones" href="http://www.listerine.co/" title="www.listerine.co"><img src="img/inicio.png" border="0" alt="Inicio" title="Inicio">inicio</a>
		</div>
	</div>

	<div id="principal-container" class="row">
		<div ng-view class="contentAnim" ></div>
		<!--  -->
		<div ng-hide="!layout.loading" class="col s8 offset-s2">
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>
	</div>

	<footer class="container" id="main-footer">
		<div class="row">
			<p>
				<a href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti/Politica-de-Privacidad">Política de Privacidad</a>, <a href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti/Nota-Legal">Nota Legal</a> y <a href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti/Terminos-y-Condiciones">Términos y Condiciones</a> | © Johnson &amp; Johnson de Colombia S.A. 2015
				<br><br>
				Este sitio es publicado por © Johnson &amp; Johnson de Colombia S.A., quien es único responsable <br>
				de su contenido. Este sitio está destinado a <a href="http://co.listerine.co/">Colombia</a>.
				<br><br>
				Comunícate con nosotros: 01-800 05 17000 o ingresa a www.jnjcolombia.com
				<br><br>
				Última actualización del sitio mayo 01 de 2015.
			</p>
		</div>
	</footer>


	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>