
<h3 class="pregunta">Compara y descubre los beneficios<br>de ocho variedades de <strong>LISTERINE<sup style="font-size:17px;">®</sup></strong></h3>
<a class="PStoolCTA" href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti">¿Prefieres que te guiemos a encontrar el LISTERINE<sup style="font-size:11px; text-decoration:none;">®</sup> ideal para ti?</a>

<div class="col s12 m6 offset-m3" style="padding:0px 2px; margin-bottom:30px;"><a href="compara-las-variedades-de-LISTERINE" class="waves-effect waves-listerine btn button-sub-menu" style="color: #653384;">COMPARA LAS VARIEDADES DE LISTERINE</a></div>

<table >
	<tbody>
		<tr class="row" style="margin-bottom:0px !important;">
			<td class="col m2 s4 offset-m1 ">
				<img class="responsive-img "  src="img/flecha-comparador.jpg" style="float:right;">
				<p style="clear:both; font-size:10px;" class="beneficio-col hide-on-small-only">Haz clic en cada botella y conoce sus beneficios</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'normal' }" class="col m1 s1" style="padding:0px;"><a href="este-es-el-ideal/{{tipo.id}}/beneficios"><img class="responsive-img" src="img/{{tipo.id}}-thumb2.jpg" alt=""></a></td>
		</tr>
		<tr class="row">
			<td class="titulo-tabla col m2 s4 offset-m1">
				<p>BENEFICIO</p>
			</td>
			<td class="titulo-tabla col s3"><p>BENEFICIOS BÁSICOS</p></td>
			<td class="titulo-tabla col s2"><p>SIN ALCOHOL</p></td>
			<td class="titulo-tabla col s3"><p>BENEFICIOS ADICIONALES</p></td>
		</tr>
		<tr class="row">
			<td class="col m2 s4 offset-m1 beneficio-col" id="row_sabor">
				<p>Sabor más suave</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'normal' }" class="col m1 s1 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_sabor')}}; ">
				<span class="tick" ng-show="{{tipo.sin_alcohol}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s4 offset-m1 beneficio-col" id="row_sin_alcohol">
				<p>Sin alcohol</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'normal' }" class="col m1 s1 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_sin_alcohol')}}; ">
				<span class="tick" ng-show="{{tipo.sin_alcohol}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s4 offset-m1 beneficio-col" id="row_encias_saludables">
				<p>Mantiene las encías saludables</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'normal' }" class="col m1 s1 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_encias_saludables')}}; ">
				<span class="tick" ng-show="{{tipo.ecias_saludables}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s4 offset-m1 beneficio-col" id="row_reducir_placa">
				<p>Reduce la placa bacteriana</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'normal' }" class="col m1 s1 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_reducir_placa')}}; ">
				<span class="tick" ng-show="{{tipo.reducir_placa}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s4 offset-m1 beneficio-col" id="row_combate_99_mal_aliento">
				<p>Combate hasta el 99% de los gérmenes que causan el mal aliento y la placa</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'normal' }" class="col m1 s1 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_combate_99_mal_aliento')}}; ">
				<span class="tick" ng-show="{{tipo.combate_99_mal_aliento}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s4 offset-m1 beneficio-col" id="row_aliento_fresco">
				<p>Hasta 24 horas de aliento fresco</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'normal' }" class="col m1 s1 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_aliento_fresco')}}; ">
				<span class="tick" ng-show="{{tipo.aliento_fresco}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s4 offset-m1 beneficio-col" id="row_control_sarro">
				<p>Controla la formación de cálculo dental</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'normal' }" class="col m1 s1 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_control_sarro')}}; ">
				<span class="tick" ng-show="{{tipo.control_sarro}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s4 offset-m1 beneficio-col" id="row_fortalecer_dientes">
				<p>Fortalece los dientes contra la caries y el desgaste</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'normal' }" class="col m1 s1 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_fortalecer_dientes')}}; ">
				<span class="tick" ng-show="{{tipo.fortalecer_dientes}}"></span>
			</td>
		</tr>
	</tbody>
</table>

<div id="distributors" class="distributors2">
	<h5 style="margin-bottom: 0;">¡Compra ya por internet!</h5>
	<p style="margin-bottom: 0">Haz clic sobre cualquier distribuidor</p>

	<ul id="distributors-list" class="list-unstyled list-inline">
		<li id="exito">
			<a id="btn-exito" href="http://www.exito.com/browse?Ntt=listerine?utm_source=website&amp;utm_medium=LISTERINE.co&amp;utm_content=preCommerce&amp;utm_campaign=Johnson-and-Johnson&amp;utm_term=Listerine" title="Éxito" target="_new">Exito</a>
		</li>
		<li id="la-14">
			<a id="btn-la-14" href="http://www.la14.com/Tiendala14/Products/base_catalog/PID-940229.aspx?utm_source=website&amp;utm_medium=LISTERINE.co&amp;utm_content=preCommerce&amp;utm_campaign=Johnson-and-Johnson&amp;utm_term=Listerine" title="La 14" target="_new">La 14</a>
		</li>
		<li id="drogas-la-rebaja">
			<a id="btn-drogas-la-rebaja" href="http://www.larebajavirtual.com/catalogo/index/categoria/?busqueda=listerine&amp;utm_source=website&amp;utm_medium=LISTERINE.co&amp;utm_content=preCommerce&amp;utm_campaign=Johnson-and-Johnson&amp;utm_term=Listerine" title="Drogas la Rebaja" target="_new">Drogas la Rebaja</a>
		</li>
	</ul>
</div>


<div class="compararProductos">
	<h5>¿QUIERES BLANQUEAR TUS DIENTES?</h5>
	<a id="comparar" href="compara-y-descubre-los-beneficios-de-las-tres-variedades-de-LISTERINE-Whitening" style="margin-left: 56px; margin-top:20px">compáralos</a>
	<img src="img/frasco.png" border="0" id="compararIMG" alt="Compáralo" title="Compáralo" style="margin-top: -3px; margin-left: -2px;">
	<img src="img/logo-whitening.jpg" style="margin-left: 12px; margin-top: 14px;" title="LISTERINE® Whitening" alt="LISTERINE® Whitening">

</div>


<div class="compartir">
	Ayuda a tus amigos a descubrir su <strong>LISTERINE<sup style="font-size:9px">®</sup></strong> ideal:

	<div class="social-wrapper" style="width:236px;">
		<a class="enlace-social">
			<div class="fb-share-button" data-href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti/compara-y-descubre-los-beneficios-de-ocho-variedades-de-LISTERINE" data-type="button"></div>
		</a>

		<a class="enlace-social">
			<div class="fb-like" data-href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti/compara-y-descubre-los-beneficios-de-ocho-variedades-de-LISTERINE" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
		</a>
		
		<a class="enlace-social">			
			<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="LISTERINEideal" data-url="http://bit.ly/1PmUfTK" data-text="Compara y descubre los beneficios de ocho variedades de LISTERINE®" data-lang="es" data-count="none" style="display:inline-block; padding-top:4px;">Twittear</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</a>
		
		<div style="clear:both"></div>
	</div>
</div>
