


<h3 class="pregunta">Compara y descubre los<br>beneficios de las tres variedades<br>de <strong>LISTERINE<sup style="font-size:17px;">®</sup></strong> Whitening</h3>
<a class="PStoolCTA" href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti">¿Prefieres que te guiemos a encontrar el LISTERINE<sup style="font-size:11px; text-decoration:none;">®</sup> ideal para ti?</a>


<table >
	<tbody>
		<tr class="row" style="margin-bottom:0px !important;">
			<td class="col m2 s6 offset-m2">
				<img class="responsive-img"  src="img/flecha-comparador.jpg" style="float:right;">
				<p style="clear:both; font-size:10px;" class="beneficio-col">Haz clic en cada botella y conoce sus beneficios</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'whitening' }" class="col m2 s2" style="padding:0px;text-align: center;"><a href="este-es-el-ideal/{{tipo.id}}/beneficios"><img class="responsive-img" src="img/{{tipo.id}}-thumb2.jpg" alt=""></a></td>
		</tr>
		<tr class="row">
			<td class="titulo-tabla col m8 s12 offset-m2">
				<p>INGREDIENTE(S) ACTIVO</p>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s6 offset-m2 beneficio-col" id="row_hidrogeno">
				<p>Peróxido de Hidrógeno</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'whitening' }" class="col m2 s2 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_hidrogeno')}}; ">
				<span class="tick" ng-show="{{tipo.hidrogeno}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s6 offset-m2 beneficio-col" id="row_fluor">
				<p>Flúor</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'whitening' }" class="col m2 s2 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_fluor')}}; ">
				<span class="tick" ng-show="{{tipo.fluor}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s6 offset-m2 beneficio-col" id="row_zinc">
				<p>Cloruro de Zinc</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'whitening' }" class="col m2 s2 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_zinc')}}; ">
				<span class="tick" ng-show="{{tipo.zinc}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="titulo-tabla col m8 s12 offset-m2">
				<p>BENEFICIOS</p>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s6 offset-m2 beneficio-col" id="row_dientes_3x_blancos">
				<p>Efecto dramático: dientes 3x más blancos</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'whitening' }" class="col m2 s2 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_dientes_3x_blancos')}}; ">
				<span class="tick" ng-show="{{tipo.dientes_3x_blancos}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s6 offset-m2 beneficio-col" id="row_dientes_mas_fuertes">
				<p>Tener mis dientes más fuertes y blancos en 7 días</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'whitening' }" class="col m2 s2 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_dientes_mas_fuertes')}}; ">
				<span class="tick" ng-show="{{tipo.dientes_mas_fuertes}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s6 offset-m2 beneficio-col" id="row_mantiene_blanco_natural">
				<p>Mantener el blanco natural de mis dientes</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'whitening' }" class="col m2 s2 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_mantiene_blanco_natural')}}; ">
				<span class="tick" ng-show="{{tipo.mantiene_blanco_natural}}"></span>
			</td>
		</tr>
		<tr class="row">
			<td class="col m2 s6 offset-m2 beneficio-col" id="row_mantiene_blanco_profesional">
				<p>Mantener los efectos del blanqueamiento profesional</p>
			</td>
			<td ng-repeat="tipo in tipos | filter:{ tipo: 'whitening' }" class="col m2 s2 tick-col valign-wrapper" style="padding: 0px !important; background-color:{{tipo.color}}; height:{{getDivHeight('row_mantiene_blanco_profesional')}}; ">
				<span class="tick" ng-show="{{tipo.mantiene_blanco_profesional}}"></span>
			</td>
		</tr>

	</tbody>
</table>


<div id="distributors" class="distributors2">
	<h5 style="margin-bottom: 0;">¡Compra ya por internet!</h5>
	<p style="margin-bottom: 0">Haz clic sobre cualquier distribuidor</p>

	<ul id="distributors-list" class="list-unstyled list-inline" style="text-align:center;">
		<li id="exito">
			<a id="btn-exito" href="http://www.exito.com/browse?Ntt=listerine+whitening?utm_source=website&amp;utm_medium=LISTERINE.co&amp;utm_content=preCommerce&amp;utm_campaign=Johnson-and-Johnson&amp;utm_term=Listerine" title="Éxito" target="_new">Exito</a>
		</li>
		<li id="la-14">
			<a id="btn-la-14" href="http://www.la14.com/Tiendala14/Products/base_catalog/PID-1412964.aspx?utm_source=website&amp;utm_medium=LISTERINE.co&amp;utm_content=preCommerce&amp;utm_campaign=Johnson-and-Johnson&amp;utm_term=Listerine" title="La 14" target="_new">La 14</a>
		</li>
		<li id="drogas-la-rebaja">
			<a id="btn-drogas-la-rebaja" href="http://www.larebajavirtual.com/catalogo/index/categoria/?busqueda=listerine+whitening&amp;utm_source=website&amp;utm_medium=LISTERINE.co&amp;utm_content=preCommerce&amp;utm_campaign=Johnson-and-Johnson&amp;utm_term=Listerine" title="Drogas la Rebaja" target="_new">Drogas la Rebaja</a>
		</li>
	</ul>
</div>

<div class="compararProductos">
	<h5><!--&iquest;NO BUSCAS BLANQUEAMIENTO DENTAL?<br>-->HAY OCHO VARIEDADES<br>MÁS DE <strong>LISTERINE<sup>®</sup></strong></h5>
	<a id="comparar" href="compara-las-variedades-de-LISTERINE" style="margin-left: 122px; margin-top:20px">compáralas</a>
	<img src="img/frasco.png" border="0" id="compararIMG" alt="Compáralo" title="Compáralo" style="margin-top: -3px; margin-left: -2px;">

</div>