

<h3 class="pregunta" style="text-align: center;">¿Qué <strong>LISTERINE<sup style="font-size: 19px;">®</sup></strong><br>usas actualmente?</h3>

<form action="#" class="col m4 offset-m4" id="beneficios-form">

	<p>
		<input type="checkbox" id="no_enjuague" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')"/>
		<label class="check-box-beneficios" for="no_enjuague">No uso enjuague bucal</label>
	</p>
	<p>
		<input type="checkbox" id="otra_marca" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')"/>
		<label class="check-box-beneficios" for="otra_marca">Uso otra marca</label>
	</p>


</form> 

<div class="col s12 m4 offset-m1" style="margin-top:20px;">
	<div class="row" style="  margin-bottom: 0px;">
		<h6 class="col s12 titulo-familia" style="color: #2d8c5e;">SIN ALCOHOL</h6>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('zero-menta-verde')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-zero-menta-verde-thumb2.jpg" alt=""/>
		</div>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('zero')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-zero-thumb2.jpg" alt=""/>
		</div>
	</div>
	<div class="row" style="  margin-bottom: 0px;">
		<h6 class="col s12 titulo-familia" style="color: #5ac5e1;">BLANQUEAMIENTO</h6>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('whitening-2en1')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-whitening-2en1-thumb2.jpg" alt=""/>
		</div>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('whitening-precepillado')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-whitening-precepillado-thumb2.jpg" alt=""/>
		</div>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('whitening-antimanchas')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-whitening-antimanchas-thumb2.jpg" alt=""/>
		</div>
	</div>
	<div class="row" style="  margin-bottom: 0px;">
		<h6 class="col s12 titulo-familia" style="color: #653384;">CUIDADO ESPECIALIZADO</h6>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('cuidado-total')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-cuidado-total-thumb2.jpg" alt=""/>
		</div>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('control-calculo')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-control-calculo-thumb2.jpg" alt=""/>
		</div>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('proteccion-dyt')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-proteccion-dyt-thumb2.jpg" alt=""/>
		</div>
	</div>
	<div class="row" style="  margin-bottom: 0px;">
		<h6 class="col s12 titulo-familia" style="color: #11afc3;">CUIDADO ESENCIAL</h6>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('cool-mint')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-cool-mint-thumb2.jpg" alt=""/>
		</div>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('freshburst')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-freshburst-thumb2.jpg" alt=""/>
		</div>
		<div class="col s4 producto-pantalla-inicial" ng-mouseover="showThumb('solucion')" ng-click="go('/que-estas-buscando-en-tu-enjuague-bucal')">
			<img class="responsive-img col s12 m11" src="public/img/LISTERINE-solucion-thumb2.jpg" alt=""/>
		</div>
	</div>
</div>

<div class="col m5 offset-m1 hide-on-small-only" style="text-align:center;">

	<img class="responsive-img animated fadeIn" style="margin-top:50px;" n-show="active == tipo.id" src="public/img/LISTERINE-{{active}}-thumb.jpg" alt="">

</div>


		<div class="compartir" style="clear:both;">
				Ayuda a tus amigos a descubrir su <strong>LISTERINE<sup style="font-size:9px">®</sup></strong> ideal: 
				
				<div class="social-wrapper" style="width:236px;">
					<a class="enlace-social">
						<div class="fb-share-button" data-href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti/" data-type="button"></div>
					</a>

					<a class="enlace-social">
						<div class="fb-like" data-href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
					</a>
					
					<a class="enlace-social">			
						<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="LISTERINEideal" data-url="http://bit.ly/1dLkwzF" data-text="¿Quieres saber cuál es el LISTERINE® ideal para ti?" data-lang="es" data-count="none" style="display:inline-block; padding-top:4px;">Twittear</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</a>
					
					<div style="clear:both"></div>
				</div>
	
</div>

