
<h3 class="pregunta">¿Qué sabor prefieres?</h3>
<p class="mas" style="margin-top: 0px; margin-bottom: 42px;">Haz clic y descubre los beneficios que cada uno tiene para ti:</p>

<div class="row">
	<div class="col s12 m5 offset-m1 center cual-prefieres ">
		<img class="responsive-img animated bounceIn" src="img/LISTERINE-zero-menta-verde-thumb.jpg" alt="">
		<div class="col s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
			<div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/LISTERINE-zero-menta-verde/beneficios" class="waves-effect waves-green btn button-sub-menu menta-verde">BENEFICIOS</a></div>
			<div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/LISTERINE-zero-menta-verde/modo_de_uso" class="waves-effect waves-green btn button-sub-menu menta-verde">MODO DE USO</a></div>
			<br><br>
			<div class="col s12">Menta Verde</div>
		</div>

	</div>
	<div class="col s12 m5 center cual-prefieres ">
		<img class="responsive-img animated bounceIn" src="img/LISTERINE-zero-thumb.jpg" alt="">
		<div class="col s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
			<div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/LISTERINE-zero/beneficios" class="waves-effect waves-teal btn button-sub-menu zero">BENEFICIOS</a></div>
			<div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/LISTERINE-zero/modo_de_uso" class="waves-effect waves-teal btn button-sub-menu zero">MODO DE USO</a></div>
			<br><br>
			<div class="col s12">Menta Suave</div>
		</div>
	</div>

</div>

<div class="row">
<center>
	<div class="boton-comparar animated bounceIn">
		<a id="comparar" href="compara-las-variedades-de-LISTERINE">compáralos</a>
		<img src="img/frasco.png" border="0" id="compararIMG" alt="Compáralos" title="Compáralos" style="margin-left: -2px;">
	</div>
</center>
</div>