

 <h3 class="pregunta">¿Qué beneficios buscas<br>&nbsp;&nbsp;en tu enjuague bucal?</h3>
 <h3 class="afirmacion">Necesito un enjuague bucal para:</h3>
 <span class="note">* selecciona todas las opciones que apliquen</span>

 <form action="#" id="beneficios-form">

  <p>
    <input type="checkbox" ng-model="ecias_saludables_model" id="ecias_saludables" ng-checked="sin_alcohol_model || control_sarro_model || fortalecer_dientes_model || maximos_beneficios_model"/>
    <label class="check-box-beneficios" for="ecias_saludables">mantener las encías saludables</label>
  </p>
  <p>
    <input type="checkbox" ng-model="reducir_placa_model" id="reducir_placa" ng-checked="sin_alcohol_model || control_sarro_model || fortalecer_dientes_model || maximos_beneficios_model"/>
    <label class="check-box-beneficios" for="reducir_placa">reducir la placa bacteriana</label>
  </p>
  <p>
    <input type="checkbox" ng-model="combate_99_mal_aliento_model" id="combate_99_mal_aliento" ng-checked="sin_alcohol_model || control_sarro_model || fortalecer_dientes_model || maximos_beneficios_model"/>
    <label class="check-box-beneficios" for="combate_99_mal_aliento">combatir hasta el 99% de los gérmenes que causan el mal aliento y la placa</label>
  </p>
  <p>
    <input type="checkbox" ng-model="aliento_fresco_model" id="aliento_fresco" ng-checked="sin_alcohol_model || control_sarro_model || fortalecer_dientes_model || maximos_beneficios_model"/>
    <label class="check-box-beneficios" for="aliento_fresco">hasta 24 horas de aliento fresco</label>
  </p>
  <p>
    <input type="checkbox" ng-model="control_sarro_model" id="control_sarro" ng-checked="maximos_beneficios_model"/>
    <label class="check-box-beneficios" for="control_sarro">controlar la formación de sarro dental</label>
  </p>
  <p>
    <input type="checkbox" ng-model="fortalecer_dientes_model" id="fortalecer_dientes" ng-checked="maximos_beneficios_model"/>
    <label class="check-box-beneficios" for="fortalecer_dientes">fortalecer los dientes contra la caries y desmineralización del esmalte</label>
  </p>
  <p>
    <input type="checkbox" ng-model="maximos_beneficios_model" id="maximos_beneficios" />
    <label class="check-box-beneficios" for="maximos_beneficios">obtener el máximo de los beneficios en un enjuague bucal</label>
  </p>
  <p>
    <input type="checkbox" ng-model="sin_alcohol_model" id="sin_alcohol" />
    <label class="check-box-beneficios" for="sin_alcohol">mantener mi boca saludable con un sabor suave (SIN ALCOHOL)</label>
  </p>


</form>

<div class="row">
<center>
  <!-- LISTERINE-solucion -->
  <div ng-show="ecias_saludables_model || reducir_placa_model || combate_99_mal_aliento_model || aliento_fresco_model" class="col s12 m4 center">
    <img class="responsive-img animated bounceIn" src="img/{{getInfo('LISTERINE-solucion').id}}-thumb.jpg" alt="">
    <div class="s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-solucion').id}}/beneficios" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-solucion').color_2}};">BENEFICIOS</a></div>
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-solucion').id}}/modo_de_uso" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-solucion').color_2}};">MODO DE USO</a></div>
      <br><br>
      <div class="col s12">{{getInfo('LISTERINE-solucion').sabor}}</div>
    </div>
  </div>

  <!-- LISTERINE-freshburst -->
  <div ng-show="ecias_saludables_model || reducir_placa_model || combate_99_mal_aliento_model || aliento_fresco_model" class="col s12 m4 center">
    <img class="responsive-img animated bounceIn" src="img/{{getInfo('LISTERINE-freshburst').id}}-thumb.jpg" alt="">
    <div class="s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-freshburst').id}}/beneficios" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-freshburst').color_2}};">BENEFICIOS</a></div>
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-freshburst').id}}/modo_de_uso" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-freshburst').color_2}};">MODO DE USO</a></div>
      <br><br>
      <div class="col s12">{{getInfo('LISTERINE-freshburst').sabor}}</div>
    </div>
  </div>

  <!-- LISTERINE-cool-mint -->
  <div ng-show="ecias_saludables_model || reducir_placa_model || combate_99_mal_aliento_model || aliento_fresco_model" class="col s12 m4 center">
    <img class="responsive-img animated bounceIn" src="img/{{getInfo('LISTERINE-cool-mint').id}}-thumb.jpg" alt="">
    <div class="s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-cool-mint').id}}/beneficios" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-cool-mint').color_2}};">BENEFICIOS</a></div>
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-cool-mint').id}}/modo_de_uso" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-cool-mint').color_2}};">MODO DE USO</a></div>
      <br><br>
      <div class="col s12">{{getInfo('LISTERINE-cool-mint').sabor}}</div>
    </div>
  </div>

  <!-- LISTERINE-control-calculo -->
  <div ng-show="control_sarro_model" class="col s12 m4 center">
    <img class="responsive-img animated bounceIn" src="img/{{getInfo('LISTERINE-control-calculo').id}}-thumb.jpg" alt="">
    <div class="s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-control-calculo').id}}/beneficios" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-control-calculo').color_2}};">BENEFICIOS</a></div>
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-control-calculo').id}}/modo_de_uso" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-control-calculo').color_2}};">MODO DE USO</a></div>
      <br><br>
      <div class="col s12">{{getInfo('LISTERINE-control-calculo').sabor}}</div>
    </div>
  </div>

  <!-- LISTERINE-proteccion-dyt -->
  <div ng-show="fortalecer_dientes_model" class="col s12 m4 center">
    <img class="responsive-img animated bounceIn" src="img/{{getInfo('LISTERINE-proteccion-dyt').id}}-thumb.jpg" alt="">
    <div class="s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-proteccion-dyt').id}}/beneficios" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-proteccion-dyt').color_2}};">BENEFICIOS</a></div>
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-proteccion-dyt').id}}/modo_de_uso" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-proteccion-dyt').color_2}};">MODO DE USO</a></div>
      <br><br>
      <div class="col s12">{{getInfo('LISTERINE-proteccion-dyt').sabor}}</div>
    </div>
  </div>

    <!-- LISTERINE-cuidado-total -->
  <div ng-show="maximos_beneficios_model" class="col s12 m4 center">
    <img class="responsive-img animated bounceIn" src="img/{{getInfo('LISTERINE-cuidado-total').id}}-thumb.jpg" alt="">
    <div class="s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-cuidado-total').id}}/beneficios" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-cuidado-total').color_2}};">BENEFICIOS</a></div>
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-cuidado-total').id}}/modo_de_uso" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-cuidado-total').color_2}};">MODO DE USO</a></div>
      <br><br>
      <div class="col s12">{{getInfo('LISTERINE-cuidado-total').sabor}}</div>
    </div>
  </div>

  <!-- LISTERINE-zero-menta-verde -->
  <div ng-show="sin_alcohol_model" class="col s12 m4 center">
    <img class="responsive-img animated bounceIn" src="img/{{getInfo('LISTERINE-zero-menta-verde').id}}-thumb.jpg" alt="">
    <div class="s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-zero-menta-verde').id}}/beneficios" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-zero-menta-verde').color_2}};">BENEFICIOS</a></div>
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-zero-menta-verde').id}}/modo_de_uso" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-zero-menta-verde').color_2}};">MODO DE USO</a></div>
      <br><br>
      <div class="col s12">{{getInfo('LISTERINE-zero-menta-verde').sabor}}</div>
    </div>
  </div>

    <!-- LISTERINE-zero -->
  <div ng-show="sin_alcohol_model" class="col s12 m4 center">
    <img class="responsive-img animated bounceIn" src="img/{{getInfo('LISTERINE-zero').id}}-thumb.jpg" alt="">
    <div class="s12 m10 offset-m1 sub-menu-botella animated bounceInUp">
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-zero').id}}/beneficios" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-zero').color_2}};">BENEFICIOS</a></div>
      <div class="col s6" style="padding:0px 2px;"><a href="este-es-el-ideal/{{getInfo('LISTERINE-zero').id}}/modo_de_uso" class="waves-effect waves-listerine btn button-sub-menu" style="color:{{getInfo('LISTERINE-zero').color_2}};">MODO DE USO</a></div>
      <br><br>
      <div class="col s12">{{getInfo('LISTERINE-zero').sabor}}</div>
    </div>
  </div>


</center>
</div>

<br><br>
<div class="row">
  <center>
    <div class="boton-comparar animated bounceIn">
      <a id="comparar" href="compara-las-variedades-de-LISTERINE">compáralos</a>
      <img src="img/frasco.png" border="0" id="compararIMG" alt="Compáralos" title="Compáralos" style="margin-left: -2px;">
    </div>
  </center>
</div>