

<div class="col s12 m7">
	<h6>Te presentamos</h6>
	<h2 style="color:{{productObj.color_2}}; margin-bottom:20px"><strong>LISTERINE<sup style="font-size:19px;">®</sup></strong> {{productObj.name}}</h2>
	<center>
		<img class="responsive-img hide-on-med-and-up" src="img/{{productObj.id}}.jpg">
	</center>
	<div id="distributors">
		<h5 class="semi-muted" style="margin-bottom: 0; text-transform: uppercase;">¡Cómpralo ya por internet!</h5>
		<p class="semi-muted" style="margin-bottom: 0">Haz clic sobre cualquier distribuidor</p>
		<ul id="distributors-list" class="list-unstyled list-inline">
			<li id="exito">
				<a id="btn-exito" href="{{productObj.link_exito}}" title="Éxito" target="_new">Exito</a>
			</li>
			<li id="la-14">
				<a id="btn-la-14" href="{{productObj.link_la14}}" title="La 14" target="_new">La 14</a>
			</li>
			<li id="drogas-la-rebaja">
				<a id="btn-drogas-la-rebaja" href="{{productObj.link_larebaja}}" title="Drogas la Rebaja" target="_new">Drogas la Rebaja</a>
			</li>
		</ul>

		<a ng-show="{{productObj.tipo=='whitening'}}" href="compara-y-descubre-los-beneficios-de-las-tres-variedades-de-LISTERINE-Whitening" style="color: #919191; font-size:14px;margin-bottom: 20px; display: inline-block;"><span title="+ beneficios" id="backW"><img src="img/back-arrow.png" border="0" alt="otros beneficios"></span>Escoge otros beneficios</a>
	</div>
	<div class="row">
		<div class="col s12 m8">
			<ul class="tabs">
				<li class="tab col m3 s12"><a class="active" href="#beneficios">BENEFICIOS</a></li>
				<li class="tab col m3 s12"><a href="#modoUso">MODO DE USO</a></li>
			</ul>
		</div>
		<div class="col s12 m4">

			<center class="hide-on-small-only">
				<div class="boton-comparar animated bounceIn" ng-show="{{productObj.tipo=='normal'}}">
					<a href="compara-las-variedades-de-LISTERINE"><img width="100%" src="img/btn_comparalos.png" alt=""></a>

				</div>
				<div class="boton-comparar animated bounceIn" ng-show="{{productObj.tipo=='whitening'}}">
					<a href="compara-y-descubre-los-beneficios-de-las-tres-variedades-de-LISTERINE-Whitening"><img width="100%" src="img/btn_comparalos.png" alt=""></a>
				</div>
			</center>
		</div>
		<div id="beneficios" class="col s12">
			<p>{{productObj.abstract}}</p>
			<p><strong>{{productObj.por_que_usar}}</strong></p>
			<ol>
				<li ng-show="{{productObj.combate_99_mal_aliento}}"> <strong>Mata gérmenes</strong>
					<br><span>Combate hasta el 99% de gérmenes que causan el mal aliento y la placa.</span>
				</li>
				<br>
				<li ng-show="{{productObj.reducir_placa}}"><strong>Reduce la placa</strong>
					<br><span>Reduce la placa hasta en un 56.2% más que los enjuagues CPC<span ng-show="{{productObj.id == 'LISTERINE-solucion'}}  || {{productObj.id == 'LISTERINE-freshburst'}}  || {{productObj.id == 'LISTERINE-cool-mint'}} || {{productObj.id == 'LISTERINE-whitening-antimanchas'}}">*</span> <span ng-show="{{productObj.id == 'LISTERINE-zero-menta-verde'}} || {{productObj.id == 'LISTERINE-zero'}}">**</span>.</span>
				</li>
				<br>
				<li ng-show="{{productObj.aliento_fresco}}"><strong>Refresca el aliento </strong>
					<br><span>Te da la protección de un aliento fresco hasta por 24 horas.</span>
				</li>
				<br>
				<li ng-show="{{productObj.ecias_saludables}}"><strong>Encías sanas</strong>
					<br><span>Combate los gérmenes sobre la línea de las encías para mantenerlas sanas <span ng-show="{{productObj.id == 'LISTERINE-solucion'}}  || {{productObj.id == 'LISTERINE-freshburst'}}  || {{productObj.id == 'LISTERINE-cool-mint'}} || {{productObj.id == 'LISTERINE-proteccion-dyt'}} || {{productObj.id == 'LISTERINE-cuidado-total'}} || {{productObj.id == 'LISTERINE-whitening-antimanchas'}}">**</span> <span ng-show="{{productObj.id == 'LISTERINE-zero-menta-verde'}} || {{productObj.id == 'LISTERINE-zero'}}">*</span>.</span>
				</li>
				<br>
				<li ng-show="{{productObj.control_sarro}}"><strong>Mantiene los dientes blancos </strong>
					<br><span>Ayuda a prevenir la formación de sarro para mantener el blanco natural de tus dientes. <span ng-show="{{productObj.id == 'LISTERINE-control-calculo'}}">***</span></span>
				</li>
				<br>
				<li ng-show="{{productObj.fortalecer_dientes}}"><strong>Fortalece los dientes</strong>
					<br><span>Fortalece el esmalte dental para proteger los dientes contra la caries <span ng-hide="{{productObj.id == 'LISTERINE-proteccion-dyt'}} || {{productObj.id == 'LISTERINE-cuidado-total'}} || {{productObj.id == 'LISTERINE-whitening-2en1'}}">**</span> <span ng-show="{{productObj.id == 'LISTERINE-proteccion-dyt'}} || {{productObj.id == 'LISTERINE-cuidado-total'}} || {{productObj.id == 'LISTERINE-whitening-2en1'}}">***</span>.</span>
				</li>
				<br>
				<li ng-show="{{productObj.blanquea}}"><strong>Blanquea</strong>
					<br><span>Por medio de la acción del Peróxido de Hidrógeno (2%), ayuda a blanquear los dientes en 12 semanas, con resultados visibles en tan solo 6 semanas <span ng-show="{{productObj.id == 'LISTERINE-whitening-precepillado'}}">**</span><span ng-show="{{productObj.id == 'LISTERINE-whitening-2en1'}}">*</span>. </span>
				</li>
			</ol>

			<p><strong>Sabor: </strong>{{productObj.sabor}}</p>
			<span ng-show="{{productObj.id == 'LISTERINE-solucion'}}  || {{productObj.id == 'LISTERINE-freshburst'}}  || {{productObj.id == 'LISTERINE-cool-mint'}} " style="font-size:12px;">*Panorama de Saúde Bucal do Adulto, 2000<br>**Sharma et al. 2010.<br>***Datos en archivos</span>

			<span ng-show="{{productObj.id == 'LISTERINE-zero-menta-verde'}} || {{productObj.id == 'LISTERINE-zero'}}" style="font-size:12px;">*Datos en archivos<br>**Estudio <i>in vitro</i>.</span>

			<span ng-show="{{productObj.id == 'LISTERINE-control-calculo'}}" style="font-size:12px;">*Sharma et al. 2010.<br>**Datos en archivos<br>***Vs. la crema dental. Charles et al. JADA(2001); 132:95-99.</span>

			<span ng-show="{{productObj.id == 'LISTERINE-proteccion-dyt'}} || {{productObj.id == 'LISTERINE-cuidado-total'}}" style="font-size:12px;">*Sharma et al. 2010.<br>**Datos en archivos<br>***Vs. la crema dental. Estudio Clínico.</span>
			
			<span ng-show="{{productObj.id == 'LISTERINE-whitening-precepillado'}}" style="font-size:12px;">*LISTERINE® Whitening Pre-Cepillado, es un enjuague bucal blanqueador; no sustituye el uso del enjuague bucal después del cepillado.<br>**Estudio clínico. Los resultados pueden variar de acuerdo con los hábitos individuales</span>

			<span ng-show="{{productObj.id == 'LISTERINE-whitening-2en1'}}" style="font-size:12px;">*LISTERINE® Whitening Blanquea y Fortalece, es un enjuague bucal blanqueador; no sustituye el uso del enjuague bucal después del cepillado.<br>**Douglas et al. <i>in vitro</i> Intrinsic Whitening Efficacy of a Peroxide and Fluoride-Containing Mouthrinse, IADR 2013.<br>***Datos en archivo</span>

			<span ng-show="{{productObj.id == 'LISTERINE-whitening-antimanchas'}}" style="font-size:12px;">*Sharma et al. 2010.<br>**Datos en archivos</span>

			<span ng-show="{{productObj.id == 'LISTERINE-whitening-extreme'}}" style="font-size:12px;">* Vs solo el cepillado.</span>


		</div>
		<div id="modoUso" class="col s12">
			<img style="width:100%;" src="img/{{productObj.id}}-modo-de-uso.jpg">
		</div>

	</div>
</div>
<div class="col m5 hide-on-small-only animated fadeInUp">
	<center>
		<img ng-show="{{productObj.tipo=='normal'}}" class="responsive-img " src="img/{{productObj.id}}.jpg">
		<img ng-show="{{productObj.tipo=='whitening'}}" class="responsive-img " src="img/{{productObj.id}}-thumb.jpg">
	</center>
	<div class="compartir2">


		Comparte con tus amigos tu <strong>LISTERINE<sup style="font-size:9px">®</sup></strong> ideal e invítalos a descubrir el suyo:

		
		<!-- 
	<div ng-share ng-social-id="{{productObj.id}}"></div>
	-->


<div class="social-wrapper">

<div fb-like></div>
	

	<a class="enlace-social">			
		<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="LISTERINEideal" data-url="{{productObj.bitly}}" data-text="¡Ya encontré mi LISTERINE® ideal: LISTERINE® {{productObj.name}} ™! Descubre el tuyo:" data-lang="es" data-count="none" style="display:inline-block; padding-top:4px;">Twittear</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</a>

	<div style="clear:both"></div>
</div><!-- END :: social-wrapper -->
	

</div>
</div>


<center class="hide-on-med-and-up">
	<div class="boton-comparar animated bounceIn" ng-show="{{productObj.tipo=='normal'}}">
		<a href="compara-las-variedades-de-LISTERINE"><img class="responsive-img " src="img/btn_comparalos.png" alt=""></a>
	</div>
	<div class="boton-comparar animated bounceIn" ng-show="{{productObj.tipo=='whitening'}}">
		<a href="compara-y-descubre-los-beneficios-de-las-tres-variedades-de-LISTERINE-Whitening"><img class="responsive-img " src="img/btn_comparalos.png" alt=""></a>
	</div>
</center>

<script>
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
</script>
