

<h3 class="pregunta">Además de blanquear mis dientes</h3>
<h3 class="afirmacion">Yo quiero <span style="display:inline-block; border-bottom: 2px solid #0e4455;width:200px"></span>.</h3>
<span class="note">* selecciona 1 opción</span>

 <form action="#" id="beneficios-form">

  <p>
    <input type="checkbox" id="3_veces_mas_blancos" ng-click="go('/este-es-el-ideal/LISTERINE-whitening-2en1/beneficios')"/>
    <label class="check-box-beneficios" for="3_veces_mas_blancos">Blanquear y fortalecer mis dientes.</label>
  </p>
  <p>
    <input type="checkbox" id="blanquea_fortalece" ng-click="go('/este-es-el-ideal/LISTERINE-whitening-extreme/beneficios')"/>
    <label class="check-box-beneficios" for="blanquea_fortalece">Máxima blancura y resultados rápidos.</label>
  </p>

</form> 