
<h3 class="pregunta" style="text-align: center;">¿Qué estás buscando<br>en tu enjuague bucal?</h3>
<br>
<h3 class="afirmacion" style="margin-bottom: 30px; text-align:center">Estoy buscando un <strong>LISTERINE<sup style="font-size: 19px;">®</sup></strong></h3>
<div id="button-wrapper row">
	<div class="col s12 m3 boton-wrap offset-m1">
		<div class="boton animated bounceIn"><a href="elije-que-sabor-prefieres-en-tu-enjuague-bucal-sin-alcohol" class="buttonSuave circle">DE SABOR<br><strong style="font-size:35px">SUAVE</strong><br><span style="font-size:12px; opacity:0.4">SIN ALCOHOL</span></a></div>
	</div>
	<div class="col s12 m4 boton-wrap">
		<div class="boton animated bounceIn"><a href="elije-que-beneficios-buscas-en-tu-enjuague-bucal" class="buttonIntenso circle">DE SABOR<br><strong style="font-size:29px">INTENSO</strong><br><span style="font-size:12px; opacity:0.4">CON ALCOHOL</span></a></div>
	</div>
	<div class="col s12 m3 boton-wrap">
		<div class="boton animated bounceIn"><a href="LISTERINE-Whitening-para-blanqueamiento-dental" class="buttonWhitening circle">PARA DIENTES<br><strong style="font-size:27px">BLANCOS</strong></a></div>
	</div>
</div>
<div class="compartir row">
	<div class="col s12">
		Ayuda a tus amigos a descubrir su <strong>LISTERINE<sup style="font-size:9px">®</sup></strong> ideal:
	</div>


	<div class="social-wrapper" style="width:236px;">
		<a class="enlace-social">
			<div class="fb-share-button" data-href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti/que-estas-buscando-en-tu-enjuague-bucal" data-type="button"></div>
		</a>

		<a class="enlace-social">
			<div class="fb-like" data-href="http://www.listerine.co/descubre-el-listerine-ideal-para-ti/que-estas-buscando-en-tu-enjuague-bucal" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
		</a>
		
		<a class="enlace-social">			
			<a href="https://twitter.com/share" data-hashtags="LISTERINEideal" class="twitter-share-button" data-url="http://bit.ly/1GXvuvu" data-text="¿Quieres saber cuál es el LISTERINE® ideal para ti?" data-lang="es" data-count="none" style="display:inline-block; padding-top:4px;">Twittear</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</a>
		
		<div style="clear:both"></div>
	</div>
</div>
